.home-layout {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-content {
  max-width: 700px;
  padding: 14px;
}

.home-content-header {
  font-weight: 500;
}

@media only screen and (max-width: 750px) {
  .home-content-header {
    font-size: 2.4rem;
  }
  .home-content {
    padding: 20px;
  }
  .home-content-subheader {
    font-size: 0.9rem;
    text-align: justify;
  }
  .home-content-about-me {
    font-size: 0.95rem;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .home-content-header {
    font-size: 1.8rem;
  }
  .home-content {
    padding: 20px;
  }
  .home-content-subheader {
    font-size: 0.8rem;
  }
  .home-content-about-me {
    font-size: 0.8rem;
  }
}
